body {
	background: #abdc28;
	padding: 20px;
	text-align: center;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	background: #F5F5AB;
	border: 1;
}
td {
    width: 20px; height: 20px;
    border: 1px solid black;
}

canvas{
	background: #F5F5AB;
}