::-webkit-scrollbar {
    display: none;
}

body{
  background: url('/static/background.bmp') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

#container{
  margin-top: 10%;
}

canvas{
  border:1px solid #000000;
  display:inline-block;
  background:#F5F5AB;
}

ul{
  height: 500px;
  width:150px;
  display:inline-block;
  margin-left:30px;
  position:absolute;
  margin-top:0px;
  list-style-type:none;
  background: transparent;
  overflow-y: scroll;
  padding: 0px;
}

li{
  margin-top: 10px;
  display: inline-block;
}

ul button{
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  width: 110px;
  height: 60px;
}

ul button:hover{
  background: #66ccff;
  opacity: 0.8;
}

ul button:active{
  height: 65px;
  width: 115px;
}
